header{
    background-color: #0E7190;

}
.nav-link{
    color: white;
}
#btn a{
    text-decoration: none;
}
footer{
    background-color: #0E7190;
    height: 30vh;
   
}
.designer{
    color: white;
}

.caption1{
    color: black;
}
.custitle{
    color: white;
}
/* .{
    background-image: url(/gal-images/interior\ 1.jpg);
} */
.board {
    color: black;
}
.order{
   justify-content: center;
   margin-left: 30%;
}
#final{
    margin-left: 40%;
}


































@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
