    header {
        background-color: #0E7190;
    }
    
    .nav-link {
        color: rgb(19, 7, 88);
    }
    
    #btn a {
        text-decoration: none;
    }
    
    footer {
        background-color: #0E7190;
    }
    
    .designer {
        color: white;
    }
    
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    
    .coloumn {
        float: left;
        width: 33.33;
        padding: 5px;
    }
    
    #portfolio {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 16%;
        font-family: 'Kaushan Script' cursive;
    }
    
    .col-md-3 img {
        max-width: 100%;
        max-height: 100%;
    }
    
    .portfolio>h2 {
        text-align: center;
        padding-top: 40px;
        font-family: 'Kaushan Script', crusive;
        color: purple;
    }
    
    body {
        background-color: rgb(14, 113, 131);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .manual {
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .manual h2 {
        font-size: 50;
        color: rebeccapurple;
        margin: 5px;
        padding: 7px;
    }
    
    .rex h1 {
        text-align: center;
        text-decoration: rgb(254, 255, 250);
        font-size: 50px;
        font-style: "Brush Script MT" crusive;
    }
    
    .banner1 {
        background-image: url(../home-img/livingroom.jpeg);
        background-size: auto;
        background-repeat: repeat;
        height: 80vh;
        max-width: 100%;
        position: relative;
    }
    
    .centered {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .card {
        height: 20vh;
    }
    
    .text h3 {
        text-align: center;
        color: rgb(5, 16, 54);
        font-weight: 100;
        font-style: arial;
        text-indent: 50px;
        font-size: 30px;
    }
    
    .hey h1 {
        text-align: center;
        text-decoration: underline;
        color: peachpuff;
        font-size: 40px;
        font-family: "Brush Script MT crusive";
    }
    
    .words h2 {
        text-align: center;
        color: peachpuff;
        font-size: 20px;
    }
    
    .white h2 {
        font-size: 30px;
        color: rgb(190, 202, 202);
    }
    
    .white h1 {
        font-size: 50px;
        color: rgb(19, 7, 88);
    }